*{
    margin:0;
    padding:0;
}
.display-flex{
    display:flex;
}
.flex-dir-row-rev{
    flex-direction:row-reverse;
}
.height{
    height:695px;
}
.width{
    width:52%;
}
.align-self{
    align-self:center;
}
.font-size-large{
    font-size:32px;
}
.padding{
    padding:25px;
}
.font-color{
    color:rgb(95, 41, 217);
}
.margin-10{
    margin:10px;
}
.font-family{
    font-family:Tahoma;
}
.font-size-small{
    font-size:22px;
}
.font-gray{
    color:gray;
}
.padding-right-30{
    padding-right:30px;
}

.margin-top-20{
    margin-top:20px;
}
.font-color-white{
    color:white;
}
.font-size-15{
    font-size:15px;
}
.background-white{
    background:white;
}
.background-purple{
    background:rgb(95, 41, 217);
}
.border{
    border:0px;
}
.padding-left-30{
    padding-left:30px
}
.padding-right-35{
    padding-right:35px
}
.padding-left-35{
    padding-left:35px
}
.border-radius{
    border-radius: 5px;
}
.padding-top-15{
    padding-top:15px;
}
.padding-bottom-15{
    padding-bottom:15px;
}
.margin-top-35{
    margin-top:35px;
}
.shadow-border {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); 
}
